<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="BUILD.55aac983-908e-4a91-8d5f-ce6cf8d3125e" Version="1.0.0.0" Publisher="CN=Contoso" />
  <Properties>
    <DisplayName>ContosoCookbook</DisplayName>
    <Description>ContosoCookbook</Description>
    <PublisherDisplayName>Contoso.</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Contoso Cookbook" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Contoso Cookbook" ForegroundText="light" BackgroundColor="#000000" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>